---
import { RecuentoCard ,ButtonAtras } from "@features/pRecuentos/components/RecuentosCard/Recuentocard";
import SidebarLayout from "@shared/layouts/SidebarLayout.astro";
import PillHeading from "@shared/components/PillHeading/PillHeading.astro";

import { VistaRecuentoID } from "@features/pRecuentos/services";

const { id } = Astro.params;

// Traemos la informacion del analisis
let recuento = null;
try {
  recuento = await VistaRecuentoID(id);
} catch (error) {
  console.error(error);
}
---

<SidebarLayout>
  <div class="container mainContainer">
      <ButtonAtras client:load numeroRegistroProducto={recuento.numeroRegistroProducto}></ButtonAtras>
      <PillHeading variant="primary">
        <h1>Detalle recuento</h1>
      </PillHeading>

    <!-- Informacion del analisis -->
    <div>
      {
        recuento ? (
          <RecuentoCard client:only recuento={recuento} />
        ) : (
          <p>No se encontró información del Recuento</p>
        )
      }
    </div>
  </div>
</SidebarLayout>

<style>
  .mainContainer{
    margin-top: 5dvh;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

</style>
