---
import {OrganismoCard,ButtonAtras} from "@features/microOrganismos/components/MicroCard/OrganismosCard"
import SidebarLayout from "@shared/layouts/SidebarLayout.astro"
import PillHeading from "@shared/components/PillHeading/PillHeading.astro"

import { VistaOrganismosID } from "@features/microOrganismos/services"

const { id } = Astro.params;
<<<<<<< HEAD
const cookies = Astro.request.headers.get("cookie") ?? ""

=======
>>>>>>> 2a38702c1a60e17cc68e7a69b6ef95bb7750c167

// Traemos la informacion del analisis
let organismo = null;
try {
<<<<<<< HEAD
  organismo = await VistaOrganismosID(id, cookies);
=======
  organismo = await VistaOrganismosID(id);
>>>>>>> 2a38702c1a60e17cc68e7a69b6ef95bb7750c167
} catch (error) {
  console.error(error);
}
---

<SidebarLayout>
          
  <div class="container mainContainer">
    
      <ButtonAtras client:load numeroRegistroProducto={organismo.numeroRegistroProducto} ></ButtonAtras>
      <PillHeading variant="primary">
        <h1>Detalle organismo</h1>
      </PillHeading> 
    <!-- Informacion del analisis -->
    <div>
      {
        organismo ? (
          <OrganismoCard client:only Organismo={organismo} />
        ) : (
          <p>No se encontró información del Micro Organismo</p>
        )
      }
    </div>
  </div>
</SidebarLayout>

<style>
  .mainContainer{
    margin-top: 5dvh;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

</style>