---
import {DetalleUsuario} from "@features/usuarios/components/Detalles/detallesID";
import SidebarLayout from "@shared/layouts/SidebarLayout.astro";
import { getUsuarioID } from "@features/usuarios/services";

const { id } = Astro.params;
let usuario = null;

try {
  usuario = await getUsuarioID(id);
} catch (error) {
  console.error(error);
}
---

<SidebarLayout>
  <h1 class="pill-heading light-blue m-5">Detalle de Usuario</h1>
    <div class="container d-flex justify-content-center">
        
        {usuario ? (
            <DetalleUsuario client:load usuario={usuario} />
          ) : (
            <p>No se encontró información del usuario.</p>
          )}
    </div>
  
</SidebarLayout>