---
import SidebarLayout from "@shared/layouts/SidebarLayout.astro";
import { TablaUsuarios } from "@features/usuarios/components/TablaUsuarios/TablaUsuarios";
import { Button } from "@shared/components/";
import { Plus } from "@shared/iconos/";
import PillHeading from "@shared/components/PillHeading/PillHeading.astro";
---

<SidebarLayout>
    <div class="container">
        <div class="header">
            <PillHeading variant="secondary">
                <h1>Gestion de usuarios</h1>
            </PillHeading>

            <Button variant="buttonAccept">
                <Plus />
                <a href="usuarios/registrar">Registrar Usuario</a>
            </Button>
        </div>

        <TablaUsuarios client:only />
    </div>
</SidebarLayout>

<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }
</style>
