---
import Layout from "@shared/layouts/Layout.astro";
import SidebarLayout from "@shared/layouts/SidebarLayout.astro";
import { SideBar } from "@shared/components/";
import UserTable from "@features/usuarios/components/vistaU"
import { RegistrarUsuario} from "@features/usuarios/components/buttonsUsuarios";


---


<main>
    <h1 class="Gestion">Gestion de usuarios</h1>
    <RegistrarUsuario/>
    <p>Hola</p>
    <SideBar client:only/>
    <UserTable client:only/>
</main>

<style>
    .Gestion {
        color: white;
        width: fit-content;
        height: fit-content;
        font-size: 25px;
        background-color: #81BFFF;
        border-radius: 20px;
        padding: 10px;
    }
</style>