.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60dvw;
  }

  .formulario h2{
    font-size: 2rem;
    color: white;
    background: #81BFFF;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px 0px;
  }

  .formulario h3 {
    color: white;
    background: #525C66;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 1.5rem;
    width: fit-content;     
    margin: 20px 0;          
  }
  
  .inputContainer {
    border: 2px solid #1F5C99;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    height: 200dvh;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .rolSelector{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .rolSelector label {
    font-weight: 700;
    color: var(--color-primario);
  }
  
  .actionButtons{
    display: flex;
    gap: 20px;
  }
  

