---
import Layout from "@layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<section id="RecuperarContrasena">
    <div id="logo"><img src="../public/LabGestorLogo.svg" alt="logo"></div>
    <article id="principal">
        <h2>Recuperaci칩n de Contrase침a</h2>
        <h3>Ingresa tu correo electronico</h3>
        <article id="separacion">
            <div id="linea1"></div>
            <div id="circulo"></div>
            <div id="linea2"></div>
        </article>
        <form action="">
            <label for=""> Nueva Contrase침a</label><br>
            <input type="password">
            <label for=""> confirme su Contrase침a</label><br>
            <input type="password">
        </form>
        <button id="cancelar">Cancelar</button>
        <button>Aceptar</button>
    </article>
</section>
<style is:global>

    @import url(<link href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap" rel="stylesheet">);

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Satoshi', sans-serif;
    }

    #logo{
        margin: 40px;
        
    }
    article#principal{
        position: absolute;
        top: 25%;
        left:40%;
        width: 500px;
        height: 578px;
        border: 1px solid #1F5C99;
        border-radius: 20px;
        
    }
    article h2{
        text-align: center;
        padding: 90px 20px;
        padding-bottom: 15px;
        font-size: 30px;
    }
    article h3{
        text-align: center;
        font-size: 15px;
    }

    article#separacion{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
    }

    #linea1{
        width: 200px;
        height: 2px;
        border: 1px solid #1F5C99;
        
    }

    #circulo{
        width: 9px;
        height: 9px;
        background: #1F5C99;
        border-radius: 50px;
        margin: 12px 12px;
    }

    #linea2{
        width: 200px;
        height: 2px;
        border: 1px solid #1F5C99;
    }

    form{
        padding: 30px;
        padding-top: 0;
    }
    form input{
        padding: 15px;
        width: 440px;
        height: 30px;
        border: 1px solid #1F5C99;
        border-radius: 5px ;
        margin-bottom: 30px;
        font-size: 20px;
    }

    button#cancelar{
        margin-left: 130px;
    }

    button{
        background: #1F5C99;
        color: #fff;
        padding: 10px 17px;
        border-radius: 10px;
        border: none;
        margin-left: 40px;

    }
</style>
</Layout>