---
import Layout from "@layouts/Layout.astro";
import Logo from "@assets/logo/logo-nav.svg"
import Decoracion from "@assets/ilustraciones/decoracionTitulos.svg"
import Header from "@features/recuperacion-contraseña/components/header.astro";

import CampoFormulario from "@sharedComponents/CampoFormulario";
---

<Layout>
    <Header/>
    <main>
        <article class="container">
            <div id="titulo">
                <h1>Recuperacion de Contraseña</h1>
                <p>Ingresa tu nueva contraseña</p>
                <img src={Decoracion.src} alt="Decoracion">
            </div>

            <form action="" class="w-100">
                <CampoFormulario
                    nombreCampo="Nueva Contraseña"
                    placeholder="Ingrese su nueva contraseña"
                    id="nuevaContrasena"
                    type="password"
                />
                <CampoFormulario
                    nombreCampo="Confirmacion"
                    placeholder="Ingrese de nuevo su contraseña"
                    id="confirmacion"
                    type="password"
                />
                <div id="acciones">
                    <button class="boton-aceptar">Aceptar</button>
                </div>
            </form>
        </article>
    </main>
</Layout>

<style>
    main{
        height: 80dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    article{
        width: fit-content;
        height: 90%;
        padding: 50px 30px;
        border: 2px solid #d3d0d0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #acciones{
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
</style>