.button {
  padding: 7px 14px;
  background-color: transparent;
  color: var(--color-primario);
  font-weight: 700;
  width: fit-content;
  place-self: center;
  border: 2px solid var(--color-primario);
  border-radius: 10px;
  transition: 0.25s all;
}

.button:hover {
  background-color: var(--color-primario);
  color: white;
  border: 2px solid transparent;
}
.accept-button {
  background-color: var(--color-verde);
  color: white;
}

.accept-button:hover {
  background-color: darkgreen;
}
.cancel-button {
  background-color: red;
  color: white;
}

.cancel-button:hover {
  background-color: darkred;
}
svg {
}
