---
import SidebarLayout from "@layouts/SidebarLayout.astro"
---
<SidebarLayout>
    <h1>Hola mundo</h1>
<<<<<<< HEAD
    <a href="../usuarios/usuariosVista">
        <p>hola</p>
</main>
=======
</SidebarLayout>
>>>>>>> d118b631dc01caf4e5cc1462ec2c2f72be64e990
