
.ContenedorPrincipal {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center; 
    margin: 10px 0px;
}

  .BarraBusqueda {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: transparent;
    border: 1px solid #E1D4D4;
    border-radius: 15px;
}

.iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 2rem;
    overflow: hidden;
}

.notificacion{
    border-radius: 50px;
    border: 1px solid #525C66;
    color: black;
    padding: 8px;
}

.perfil{
    border-radius: 50px;
    border: 1px solid #525C66;
    color: white;
    background: #1F5C99 ;
    padding: 8px;
}

.logoBarraNavegacion{
    width: 84px;
    height: 40px;
    padding: 0px;
}
.logoBarraNavegacion img {
    max-height: 40px;
    width: auto;
    object-fit: contain;
}

/* ESTILOS PARA CUANDO LA BARRA LATERAL SE COLAPSA */
