.admin {
    width: 100%;
    max-width: 300px;
    height: 97vh;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    transition: max-width 0.4s ease, padding 0.4s ease;
    overflow: hidden;
}

.logo svg {
    margin-bottom: 2rem;
    margin-left: 15%;
    width: 40px;
    height: auto;
}

.admin img {
    margin: 5% 3%;
    max-width: 100%;
    height: auto;
}

.toggle-barra {
    border: none;
    background: transparent;
    outline: none;
}

.menu {
    margin-top: 5%;
}

.menu a {
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}
.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.botones a{
    border: none;
    background: #1F5C99;
    border-radius: 15px;
    margin: 10px auto;
    padding: 0 10px;
    cursor: pointer;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;    
}

.botones h3 {
    color: white;
    margin-left: 10px;
    font-size: 1rem;
    
}


/* ==== ESTILOS PARA LA BARRA COLAPSADA ==== */
.admin.colapsada {
    max-width: 80px;
    background: #1f5c99;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.admin.colapsada .toggle-barra {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
}


.admin.colapsada a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

 
}

.admin.colapsada .botones{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.admin.colapsada .botones  a {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}


@media screen and (min-width: 750px) and (max-width: 1366px) {
    .admin {
        /* Asegura ocupar toda la altura en monitor */
        height: 97vh; 
    }

    .botones {
        /* Empuja los botones al final en pantallas grandes */
        margin-top: 2vh; 
    }
    .admin.colapsada .botones{
        margin-top: 9vh;
    }

}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    .admin {
        /* Asegura ocupar toda la altura en monitor */
        height: 97vh; 
    }

    .botones {
        /* Empuja los botones al final en pantallas grandes */
        margin-top: 33vh; 
    }
}
