.seccionTablaCliente{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.tituloCliente{
    font-size: 1.5rem ;
    text-shadow: 1px 1px 1px #888;
}

.contendorTablaCliente {
    overflow-y: scroll;
    max-height: 200px;
    scrollbar-color: #888 #f5e2e2;  
    padding-right: 10px;
    scrollbar-width: thin;        
}


.tablaCliente{
    width: 100%;
    height: 240px;
    text-align: center;
    border: 1px solid black;
}

.encabezadoCliente{
    border-bottom: 1px solid black;
}


/* COLORES DE COLUMNAS */
.nombreCliente,
.detallesCliente {
  background: #C2E0FF;
}
/* ------------------------------------------------ */

button{
    border: none;
    background: transparent;
}