/* Contenedor */
<<<<<<< HEAD
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
=======
.numeroRegistroProducto{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primario-oscuro);
  margin: 0;
}

.numeroRegistroProducto span {
  font-size: inherit;
  font-weight: inherit;
  color: var(--color-primario);
>>>>>>> c1e0612ce239198d8fe7da64f0d3691dd0c38a18
}

.infoContainer {
  background: white;
<<<<<<< HEAD
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 40%;
  display: flex;
  flex-direction: column;
=======
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--color-primario);
  width: 50%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
>>>>>>> c1e0612ce239198d8fe7da64f0d3691dd0c38a18
  gap: 10px;
}

.buttonContainer{
  display: flex;
  gap: 20px;
}
.contenido {
  font-size: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.texto {
  font-size: 17px;
  font-weight: 600;
  color: var(--color-primario-oscuro);
}