
#loginForm{
    width: 100% !important;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

#inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#wrongCredentialsSpan{
    color: var(--color-rojo);
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}

