.selectButton{
    padding: 10px;
    border: 3px solid;
    border-radius: 10px;
    background: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .25s all;
}

.selectButton svg{
    height: 2em;
    width: auto;
    stroke-width: 1.5;
}



.selectButton.lightBlue{
    color: #81BFFF;
}

.selectButton.lightBlue:hover, .selectButton.lightBlue.selected{
    color: white;
    border-color: transparent;
    background:  #81BFFF;
}

.selectButton.darkBlue{
    color: var(--color-primario);
}

.selectButton.darkBlue:hover, .selectButton.darkBlue.selected{
    color: white;
    border-color: transparent;
    background:  var(--color-primario);
}
