/* ---------------------------------------- */
/* Estilos variante por defecto */
/* ---------------------------------------- */
/* Estilos del contenedor */
.customInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Estilos del label */
.customInput label{
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 700;
    color: var(--color-primario);
}

/* Estilos del input */
.customInput input{
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    font-size: 16px;
    color: #101828;
    transition: .25s all;
}

.customInput input:focus{
    outline: 2px solid var(--color-primario-claro);
    box-shadow: 0 0 0 2px rgba(17, 69, 112, 0.1);
}

.customTextArea input::placeholder {
    color: #667085;
}

.invalidContent {
    border-color: var(--color-rojo) !important;
    background: white;
}

.invalidContent:focus {
    outline: 2px solid var(--color-rojo) !important;
    box-shadow: 0 0 0 2px rgba(245, 71, 59, 0.61) !important;
}

/* Estilos del mensaje de error */
.customInput .errorMessage{
    color: var(--color-rojo);
    margin: 0;
    font-size: 14px;
}

/* ----------------------------------------- */
/* Estilos variante searchbar */
/* ----------------------------------------- */
.searchBar input{
    border-radius: 20px;
    font-size: .9rem;
}

.searchBar label{
    display: none;
}