---
import { GetProductId } from "@features/productos/services";
import SidebarLayout from "@shared/layouts/SidebarLayout.astro";
import { AnalisisSelect } from "@features/productos/components/AnalisisSelect/AnalisisSelect";

import PillHeading from "@shared/components/PillHeading/PillHeading.astro";

import { TabsContainer } from "@features/productos/components/TabsContainer/TabsContainer.jsx";
// Se hace trae la informacion del producto desde la API
const { id } = Astro.params;
let data = null;

try {
    data = await GetProductId(id);
    console.log(data);
} catch (error) {
    console.error(error);
}
---

<SidebarLayout>
    <div class="container mainContainer">

        <div class="header">
            <PillHeading variant="primary">
                <h1>Informacion del Producto</h1>
                </PillHeading>
                {data && (
                    <AnalisisSelect
                    numeroRegistroProducto={data.numeroRegistroProducto}
                    client:load
                    />
                )}
        </div>

        <TabsContainer data={data} client:load/>
        
    </div>
</SidebarLayout>
<style>
    .mainContainer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
