---
import SidebarLayout from "@layouts/SidebarLayout.astro";
import PillHeading from "@shared/components/PillHeading/PillHeading.astro";
---

<SidebarLayout>
    <PillHeading variant="secondary">
        <h1>Gestion de Productos</h1>
    </PillHeading>
    <a href="/productos/registrar">Registrar</a>
</SidebarLayout>
