---
import UserTable from "@features/usuarios/components/vistaU"
import Button from '../shared/components/buttons/button/ButtonL';
import SmartButtons from '../shared/components/buttons/button/ButtonL';
---
<main>
    <div>
        <SmartButtons client:only/>
        <h1>Homepage</h1>
        <a href="login">Iniciar Sesion</a>
        <UserTable client:only/>
    </div>
</main>