---
import React, { useState } from 'react';
import Button from '../shared/components/buttons/button/ButtonL';
import SmartButtons from '../shared/components/buttons/button/ButtonL';
---
<main>
    <div>
        <SmartButtons/>
        <h1>Homepage</h1>
        <a href="login">Iniciar Sesion</a>
        
    </div>
</main>