/* ---------------------------------------- */
/* Estilos base del boton */
/* ---------------------------------------- */
.selectButton{
    padding: 10px;
    border: 3px solid;
    border-radius: 10px;
    background: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .25s all;
    width: 100%;
}

/* Estilos para ionos dentro del boton */
.selectButton svg{
    height: 1.5em;
    width: auto;
    stroke-width: 1.5;
}

/* ---------------------------------------- */
/* Estilos variante azul claro */
/* ---------------------------------------- */
.selectButton.lightBlue{
    color: #81BFFF;
}

.selectButton.lightBlue:hover, .selectButton.lightBlue.selected{
    color: white;
    border-color: transparent;
    background:  #81BFFF;
}


/* ---------------------------------------- */
/* Estilos variante azul oscuro */
/* ---------------------------------------- */
.selectButton.darkBlue{
    color: var(--color-primario);
}

.selectButton.darkBlue:hover, .selectButton.darkBlue.selected{
    color: white;
    border-color: transparent;
    background:  var(--color-primario);
}

/* ---------------------------------------- */
/* Estilos variante naranja */
/* ---------------------------------------- */

.selectButton.orange{
    color: #FFB146 ;
}

.selectButton.orange:hover, .selectButton.orange.selected{
    color: white;
    background: #FFB146;
    border-color: transparent;
}

/* ---------------------------------------- */
/* Estilos variante gris */
/* ---------------------------------------- */

.selectButton.gray{
    color: #5B6670 ;
}

.selectButton.gray:hover, .selectButton.gray.selected{
    color: white;
    background: #5B6670;
    border-color: transparent;
}

