---
const {id, nombreCampo, type, placeholder} = Astro.props
---

<div class="w-100">
    <label  class="form-label" for={id}>{nombreCampo}</label>
    <input class="form-control" type={type} placeholder={placeholder} required>
</div>

<style>
    .form-control:focus{
        border-color: var(--color-primario);
        box-shadow: 0 0 0 0.15rem rgba(0, 98, 245, 0.25)
    }

    .form-label{
        font-weight: 700;
    }
</style>