.pill {
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  padding: 4px;
  border: 2px solid #000000;
  font-weight: 700;
  border-radius: 30px;
  min-width: 100px;
  text-align: center;
}

.lightBlue {
  color: #4fa7ff;
  border-color: #4fa7ff;
  background: #d1e7fd48;
}

.darkBlue {
  color: var(--color-primario);
  border-color: var(--color-primario);
  background: #76ade43f;
}

.red {
  color: var(--color-rojo);
  border-color: var(--color-rojo);
  background: rgb(252, 166, 166);
}

.green {
  color: var(--color-verde);
  border-color: var(--color-verde);
  background: rgba(204, 248, 204, 0.452);
}
