---
import logo from "@assets/logo/logo-nav.svg";

---
<nav id="logo" class="container-fluid">
    <img src={logo.src} alt="logo" />
</nav>

<style>
    nav{
        border: none;
        padding: 1rem;
    }
    img{
        height: 8dvh;
    }
</style>