---
const {variant} = Astro.props
---
<div class={`pillHeading ${variant}`}>
    <slot />
</div>

<style is:global>
    .pillHeading{
        padding: 10px 20px;
        font-weight: 700;
        border-radius: 30px;
        font-size: 30px;
        text-align: center;
        width: fit-content;
    }

    h1, h2, h3{
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
    }

    .pillHeading.primary{
        background: var(--color-primario);
        color: white;
    }

    .pillHeading.secondary{
        background: #81bfff;
        color: white;
    }
</style>
