<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root{
		/* Aqui se definen las variables globales de css */
	}
	
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
