.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}